---
layout: layouts/base.njk
---

    {% set textGradientOnHover = "transition bg-gradientDark bg-clip-text hover:text-transparent active:text-transparent animate-gradient-fast" %}

<div id="scroll-container" class="px-small md:px-medium lg:px-large box-border xs:snap-proximity xs:snap-y w-screen h-screen overflow-y-auto">
    <nav class="flex flex-col justify-between pt-small md:pt-medium snap-center lg:pt-large box-border h-screen relative">
        <div>
            <p id="top" class="animate-in text-3xl mb-4 font-light">Hugo Sundberg</p>
            <h1 class="animate-in text-7xl font-bold md:text-8xl">Portfolio.</h1>
        </div>
        <ul>
            <li class="animate-in mb-4"><a class="{{textGradientOnHover}} text-3xl font-bold" data-en="Projects" href="#projects">Projekt</a></li>
            <li class="animate-in mb-4"><a class="{{textGradientOnHover}} text-3xl font-bold" data-en="About me" href="">Om mig</a></li>
        </ul>
        <div class="animate-in flex items-center gap-1 mb-10">
            <img class="h-4" src="images/icons/lang.svg" alt="">
            <button id="language-switch" class="w-fit underline" data-en="Byt till svenska" href="">Switch to english</button>
        </div>
    </nav>
    {% set imageBaseStyle = "object-cover image lg:h-[58vh] h-[30vh] xs:h-[48vh] w-full max-w-[1024px]" %}
    {% set textCardBaseStyle = "translate-y-[200px] backdrop-blur-lg shadow-card bg-white/80 relative p-card-small md:p-card-medium lg:p-card-large -mt-small md:-mt-medium lg:-mt-large w-full max-w-[460px] rounded-card-medium bg-white shall-animate" %}
    {% for project in projects %}
    {% set imageSrc = project.images[0].path %}
    <section {% if(loop.first) %} id="projects" {% endif %} class="relative mb-8 xs:mb-0 xs:h-screen snap-start w-full flex items-center">
        <div class="w-full">
            {% if loop.index % 2 == 0 %}
        {# Image to right #}
                <div class="relative ml-small md:ml-medium lg:ml-large right-0 w-full">
                    <img class="{{imageBaseStyle}} ml-auto rounded-image-medium-right" src="{{imageSrc}}" alt="">
                </div>
                <div class="{{textCardBaseStyle}} ml-auto">
            {% else %} 
        {# Image to left #}
                 <div class="relative -ml-small md:-ml-medium lg:-ml-large left-0 w-full">
                    <img class="{{imageBaseStyle}} rounded-image-medium" src="{{imageSrc}}" alt="">
                </div>
                <div class="{{textCardBaseStyle}}">
            {% endif %}
                <p data-en="{{project.description.en}}">{{project.description.sv}}</p>
            </div>
        </div>
    </section>
    {% endfor %}
</div>