@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.move-right {
  left: calc(100% - 72px);
  transform: translate(-100%);
}

.top-arrow {
  transform: scale(0);
}

.scale-1 {
  transform: scale(1);
}

.info-card {
  transform: translateX(calc(-100% - 24px));
}

.translate-x-0 {
  transform: translateX(0);
}

.img-blue-on-hover:hover img {
  opacity: 1;
}

.show-child-p-on-hover:hover p {
  opacity: 1;
}

.beforeAnimation {
  transform: translateY(200px);
}

.afterAnimation {
  transform: translateY(0);
}
