<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <script defer type="module" src="./script.js"></script>
    <link rel="stylesheet" href="./output.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicons/favicon-16x16.png">
    <link rel="manifest" href="images/favicons/site.webmanifest">
  </head>
  <body class="bg-gradient overflow-x-hidden animate-gradient">
    {{ content | safe }}
      <a href="#top" class="img-blue-on-hover active:scale-90 top-arrow fixed left-6 bottom-8 shadow-card-smaller transition-all cursor-pointer scroll-to-top rounded-full h-12 w-12 flex justify-center items-center bg-white">
          <img class="h-6 pointer-events-none" src="images/icons/arrowUp.svg" alt="">
          <img class="pointer-events-none opacity-0 transition absolute h-6" src="images/icons/arrowUpBlue.svg" alt="">
      </a>
      <div class="info-card fixed bottom-12 bg-white min-h-12 flex gap-2 ml-6 mb-10 items-center rounded-card-medium p-[9px] shadow-card-small">
        <p class="rounded-full border-2 min-h-6 min-w-6 h-6 flex-none w-6 flex justify-center items-center border-black border-solid">i</p>
        <p data-en="Arrow will adjust its position based on where on the screen you scroll">Pilen kommer att ändra sin position baserat på var på skärmen du skrollar.</p>
        <button id="button-confirm-arrow-information" class="flex-none active:scale-90 transition duration-75 rounded-full bg-green-500 min-h-8 min-w-10 h-8 w-10 text-white">OK</button>
      </div>
  </body>
</html>
